<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/grid.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet">
    <title></title>
  </head>
  <script> // add this in js later
    function myFunction(x) {
        x.classList.toggle("change");

        document.getElementById('nav-content').classList.toggle("change");
      }

      var previousTop = 0;
      var currentscroll = 0;
    window.onscroll = function (e) {
      currentscroll = window.scrollY;
      //console.log(currentscroll);
      if(currentscroll < previousTop) {
        document.getElementById('nav-bar').style.transform = "translateY(0)";
      } else {
        document.getElementById('nav-bar').style.transform = "translateY(-60px)";
      }
      previousTop = currentscroll;


      //PLEASE CHANGE THIS
      if(currentscroll > 500){
        document.getElementById('nav-bar').style.backgroundColor = "#F2631E";
        //console.log("blacknavbar");
      } else {
        document.getElementById('nav-bar').style.backgroundColor = "transparent";
      }
    }


  </script>
  <body>

  <div id="nav-bar">
    <div class="max-width">
      <div class="logo">
        <a href="index.html">
          <img src="/img/logo-light.png">
        </a>
      </div>

      <div class="click" onclick="myFunction(this)">
        <div class="hamburger">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>


        <ul id="nav-content">
          <li><a href="/product.html">Product</a></li>
          <li><a href="/partner.html">Partner</a></li>
          <li><a href="">Success Stories</a></li>
          <li><a href="">Resources</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </div>


      <!-- <ul id="nav-content">
        <li><a href="/product.html">Product</a></li>
        <li><a href="/partner.html">Partner</a></li>
        <li><a href="">Success Stories</a></li>
        <li><a href="">Resources</a></li>
        <li><a href="">Contact</a></li>
      </ul> -->

    </div>
  </div> <!--Nav Bar -->
    <%- yield %>


    <div class="bot-nav">
      <div class="max-width container fluid">
        <div class="col md-3 spacing">
          <h4>Phone</h4>
          <p>+852 3709 7525</p>

          <h4>E-mail / Support</h4>
          <p>info@fanswifi.com</p>

          <h4>Follow Us</h4>
          <div class="col sm-3 social">
            <img src="/img/social/facebook.png">
          </div>
          <div class="col sm-3 social">
            <img src="/img/social/twitter.png">
          </div>
        </div>

        <div class="col md-3 spacing">
          <h4>Links</h4>
          <p>Product</p>
          <p>Resources</p>
          <p>Careers</p>
          <p>Privacy and Terms</p>
        </div>

        <div class="col md-6 spacing">

            <div class="botnav-logo">
              <a href="index.html">
                <img src="/img/logo-light.png">
              </a>
            </div>
        </div>
      </div> <!--Container-->
    </div>
  </body>
</html>
