<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/grid.css">
    <!-- <?php include('mail.php') ?> -->

    <!-- Start of fanswifisupport Zendesk Widget script -->
<script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var e=this.createElement("script");n&&(this.domain=n),e.id="js-iframe-async",e.src="https://assets.zendesk.com/embeddable_framework/main.js",this.t=+new Date,this.zendeskHost="fanswifisupport.zendesk.com",this.zEQueue=a,this.body.appendChild(e)},o.write('<body onload="document._l();">'),o.close()}();
/*]]>*/</script>
<!-- End of fanswifisupport Zendesk Widget script -->



    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="script.js"></script>

    <link href="dist/lity.css" rel="stylesheet">
    <!-- <script src="vendor/jquery.js"></script> -->
    <script src="dist/lity.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet"> -->
    <title></title>
  </head>
  <script> // add this in js later




    //hamburger menu toggling
    // function myFunction(x) {
    //     x.classList.toggle("change");
    //     document.getElementById('nav-content').classList.toggle("change");
    //   }

    //Scrolling animation and color change
    //   var previousTop = 0;
    //   var currentscroll = 0;
    // window.onscroll = function (e) {
    //   currentscroll = window.scrollY;
    //
    //   if(currentscroll < previousTop) {
    //     document.getElementById('nav-bar').style.transform = "translateY(0)";
    //   } else {
    //     document.getElementById('nav-bar').style.transform = "translateY(-60px)";
    //   }
    //   previousTop = currentscroll;
    //   //PLEASE CHANGE THIS
    //   if(currentscroll > 500){
    //     document.getElementById('nav-bar').style.backgroundColor = "#F2631E";
    //     //console.log("blacknavbar");
    //   } else {
    //     document.getElementById('nav-bar').style.backgroundColor = "transparent";
    //   }
    // }


/* my light box javascript, can be deleted soon
    function startLightBox() {
      var lbBg = document.getElementById("lightBoxBg");
      var lb = document.getElementById("lightBox");
      var lbW = document.getElementById("lightBoxWidth");

      lbBg.style.display = "block";
      lb.style.display = "block";
      lbW.style.display = "block";
    }

    // function dismiss() {
    //   var lbBg = document.getElementById("lightBoxBg");
    //   var lb = document.getElementById("lightBox");
    //   console.log("dismiss");
    //   //document.getElementById('fansvideo').pauseVideo();
    //   lbBg.style.display = "none";
    //   lb.style.display = "none";
    // }

//Dont understand this part too well
    function toggleVideo(state) {
  // if state == 'hide', hide. Else: show video
        var div = document.getElementById("lightBox");
        var iframe = div.getElementsByTagName("iframe")[0].contentWindow;
        div.style.display = state == 'hide' ? 'none' : '';
        func = state == 'hide' ? 'pauseVideo' : 'playVideo';
        iframe.postMessage('{"event":"command","func":"' + func + '","args":""}','*');

        var lbBg = document.getElementById("lightBoxBg");
        var lbW = document.getElementById("lightBoxWidth");
        lbBg.style.display = "none";
        lbW.style.display="none";
    }

    */
  </script>
  <body>

  <div id="nav-bar">
    <div class="max-width">
      <div class="logo">
        <a href="index.html">
          <img src="/img/logo-light.png">
        </a>
      </div>

      <!-- <div class="click" onclick="myFunction(this)"> Javascript Version(delete) -->
      <div class="click">
        <div class="hamburger">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>

        <ul id="nav-content">
          <a href="/product.html"><li>Product</li></a>
          <a href="/partner.html"><li>Partner</li></a>
          <a href="/success.html"><li>Success Stories</li></a>
          <a href=""><li>Resources</li></a>
          <a href="/contact.html"><li>Contact</li></a>

        </ul>
      </div>
    </div>
  </div> <!--Nav Bar -->
    <%- yield %>


    <div class="bot-nav">
      <div class="max-width container fluid">
        <div class="col md-3 spacing">
          <h4>Phone</h4>
          <p>+852 3709 7525</p>

          <h4>E-mail / Support</h4>
          <p>info@fanswifi.com</p>

          <h4>Follow Us</h4>
          <div class="col sm-3 social">
            <img src="/img/social/facebook.png">
          </div>
          <div class="col sm-3 social">
            <img src="/img/social/twitter.png">
          </div>
        </div>

        <div class="col md-3 spacing">
          <h4>Links</h4>
          <p><a href="">Product</a></p>
          <p><a href="">Resources</a></p>
          <p><a href="">Careers</a></p>
          <p><a href="">Privacy and Terms</a></p>
        </div>

        <div class="col md-6 spacing">

            <div class="botnav-logo">
              <a href="index.html">
                <img src="/img/logo-light.png">
              </a>
            </div>
        </div>
      </div> <!--Container-->
    </div>
  </body>
</html>
