<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title></title>
  </head>
  <body>

  <div class="nav-bar">
    <div class="container">
      <a href="index.html">
        <div class="logo">
          <img src="/img/logo-light.png">
        </div>
      </a>


      <ul class="nav-content">
        <li><a href="/product.html">Product</a></li>
        <li><a href="/partner.html">Partner</a></li>
        <li><a href="">Success Stories</a></li>
        <li><a href="">Resources</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </div>
  </div> <!--Nav Bar -->
    <%- yield %>


    <div class="bot-nav">
      <div class="nav-container">
        <div class="botnav-content">
          <h4>Phone</h4>
          <p>+852 3709 7525</p>

          <h4>E-mail / Support</h4>
          <p>info@fanswifi.com</p>

          <h4>Follow Us</h4>
          <img src="http://placehold.it/50x50">
          <img src="http://placehold.it/50x50">
        </div>

        <div class="botnav-content">
          <h4>Links</h4>
          <p>Product</p>
          <p>Resources</p>
          <p>Careers</p>
          <p>Privacy and Terms</p>
        </div>

        <div class="botnav-logo">
          <a href="index.html">
            <div class="logo">
              <img src="http://placehold.it/140x33">
            </div>
          </a>
        </div>
      </div> <!--Container-->
    </div>
  </body>
</html>
