<!-- <section class="top-screen">
  <div class="vert-align-flex center">
    <div class="spacing">
      <h1>Contact Us</h1>
      <h3>Hey there, lets have a chat!</h3>

    </div>
  </div>
</section>  -->

<div id="contactus" class="flex">
  <div class="container fluid max-width-1400 vert-align-flex">
    <div class="row">
      <div class="col lg-7 spacing">
        <div class="col md-12">

          <div class="col md-12">
            <h1>Hey there, lets have a chat!</h1>
          <!-- <img src="/img/contact.png"> -->
            <h4>Address</h4>
            <p>3/F, Citicorp Centre, 18 Whitfield Road,<br>
              Tin Hau, Hong Kong</p>

            <h4>Phone</h4>
            <p>+852 3709 7525</p>

            <h4>Email</h4>
            <p>info@fanswifi.com</p>

          </div>

          <div class="col md-12">
            <a class="typeform-share button" href="https://jackie268.typeform.com/to/vJv6M6" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#FFF;color:#f2631e;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:10px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;margin-top:1em;" target="_blank">Contact Us</a><script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id="typef_orm_share",b="https://s3-eu-west-1.amazonaws.com/share.typeform.com/";if(!gi.call(d,id)){js=ce.call(d,"script");js.id=id;js.src=b+"share.js";q=gt.call(d,"script")[0];q.parentNode.insertBefore(js,q)}})()</script>
          </div>
        </div>
      </div>


      <div class="col lg-5 spacing">
        <div class="google-maps">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3691.780662067992!2d114.18810916495451!3d22.28629698533085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x340400fe34e54225%3A0xa8e73fec0e1a54de!2sCiticorp+Centre%2C+18+Whitfield+Rd%2C+Causeway+Bay!5e0!3m2!1sen!2shk!4v1491465396003" width="600" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div><!--Slide-->
