<section id="contactus-top" class="top-screen">

  <div class="vert-align-flex center">
    <div class="spacing top-screen-text-down">
      <h1>Contact Us</h1>
    </div>
  </div>
</section> <!--Slide-->

<div id="contactus" class="flex">
  <div class="container fluid max-width vert-align-flex">
    <div class="row">

      <div class="col lg-6 input-form">
        <!-- <h4>GENERAL INQUIRIES</h4> -->

        <a name="form148477366" id="formAnchor148477366"></a>
        <script type="text/javascript" src="https://fs27.formsite.com/include/form/embedManager.js?148477366"></script>
        <script type="text/javascript">
        EmbedManager.embed({
        	key: "https://fs27.formsite.com/res/showFormEmbed?EParam=m%2FOmK8apOTAGkt%2BvjtSQLGrYe2Y6sJfY&148477366",
        	width: "100%"
        });
        </script>





        <!-- <form action="">
          <div class="col md-6 spacing">
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname">
          </div>
          <div class="col md-6 spacing">
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname">
          </div>

          <div class="spacing">
            <label for="email">E-mail</label>
            <input type="text" id="email" name="email">
          </div>

          <div class="spacing">
            <label for="companytype">Company Type</label>
            <select id="company" name="company">
              <option value="Restaurant">Restaurant</option>
              <option value="Restaurant">Transportation</option>
              <option value="Restaurant">Hospitality</option>
              <option value="Restaurant">Retail</option>
              <option value="Restaurant">Telecom Company</option>
              <option value="Restaurant">WiFi Reseller</option>
            </select>
          </div>

          <div class="spacing">
            <input type="submit" value="Submit">
          </div>
        </form> -->
        <!-- <div class="google-maps">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3691.780662067992!2d114.18810916495451!3d22.28629698533085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x340400fe34e54225%3A0xa8e73fec0e1a54de!2sCiticorp+Centre%2C+18+Whitfield+Rd%2C+Causeway+Bay!5e0!3m2!1sen!2shk!4v1491465396003" width="600" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div> -->
      </div>

      <div class="col lg-6 spacing">
        <div class="col md-12">

          <div class="col md-12">
            <h2>Hey there, lets have a chat!</h2>
            <h4>It's risk free</h4>
            <p>Once you've submitted your info, we will reach out to you with a few questions about your business and goals.</p>

            <h4>It's easy</h4>
            <p>Set-up takes five minutes, and Zenreach immediately goes to work building your customer list and building your business.</p>

            <h4>It's personalized</h4>
            <p>Our pricing matches the needs of your business. From small cafes to large chains, Zenreach has a solution made just for you.</p>


          </div>

          <!-- <div class="col md-12">
            <a class="typeform-share button" href="https://jackie268.typeform.com/to/vJv6M6" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#FFF;color:#f2631e;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:10px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;margin-top:1em;" target="_blank">Contact Us</a><script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id="typef_orm_share",b="https://s3-eu-west-1.amazonaws.com/share.typeform.com/";if(!gi.call(d,id)){js=ce.call(d,"script");js.id=id;js.src=b+"share.js";q=gt.call(d,"script")[0];q.parentNode.insertBefore(js,q)}})()</script>
          </div> -->
        </div>
      </div>
      <!-- <div class="col md-12 spacing">
        <h2 class="">Our Locations</h2>
        <div class="col md-4 spacing center-content">
          <img src="http://placehold.it/500x350">
          <p>3/F, Citicorp Centre, 18 Whitfield Road,<br>
            Tin Hau, Hong Kong</p>
            <p>+852 3709 7525</p>
            <p>info@fanswifi.com</p>
        </div>

        <div class="col md-4 spacing center-content">
          <img src="http://placehold.it/500x350">
          <p>3/F, Citicorp Centre, 18 Whitfield Road,<br>
            Tin Hau, Hong Kong</p>
            <p>+852 3709 7525</p>
            <p>info@fanswifi.com</p>
        </div>

        <div class="col md-4 spacing center-content">
          <img src="http://placehold.it/500x350">
          <p>3/F, Citicorp Centre, 18 Whitfield Road,<br>
            Tin Hau, Hong Kong</p>
            <p>+852 3709 7525</p>
            <p>info@fanswifi.com</p>
        </div>
      </div> -->




    </div>
  </div>
</div><!--Slide-->
