<div id="first-screen">
  <div class="center-content container">
    <h1>Understand your customers, connect with them and bringing them back</h1>
    <h3>With our social Wifi hotspot platform.</h3>
  </div>
  <div>Video</div>
    <div class="row customer-list">
      <!-- <div class="customer-list"> -->
      <div  class="container-1">
        <div class="customers">
          <a href=""><img src="http://placekitten.com/200/150"></a>
        </div>
        <div class="customers">
          <a href=""><img src="http://placekitten.com/200/150"></a>
        </div>
        <div class="customers">
          <a href=""><img src="http://placekitten.com/200/150"></a>
        </div>
        <div class="customers">
          <a href=""><img src="http://placekitten.com/200/150"></a>
        </div>
        <div class="customers">
          <a href=""><img src="http://placekitten.com/200/150"></a>
        </div>
        <div class="customers">
          <a href=""><img src="http://placekitten.com/200/150"></a>
        </div>
      </div>
      <!-- </div> -->
    </div><!--row-->
</div> <!--Slide-->

<div class="slide">
  <h2>What does FansWiFi do?</h2>
  <div class="container fluid">
    <div class="row">
      <div class="col md-4">
        <img src="http://placehold.it/300x200">
        <h4>Wifi for your guests</h4>
        <p>FansWiFi sets up a WiFi hotspot for your customers and we make it easy for them to access it via social media and lead them to your page for more likes and traction!</p>
      </div>
      <div class="col md-4">
        <img src="http://placehold.it/300x200">
        <h4>Understand your customers</h4>
        <p>Upon accessing your WiFi, they will be put in a customer list with actionable data such as their contact information, demographics, social media, history, and many more!</p>
      </div>
      <div class="col md-4">
        <img src="http://placehold.it/300x200">
        <h4>Bring them back</h4>
        <p>With new information now in your hands, invite them back with coupons and promotions catered to your customers.</p>
      </div>
    </div>
  </div>
</div><!--Slide-->

<div class="slide">
  <h2>Who is FansWiFi for</h2>
  <div class="container fluid">
    <div class="row">
      <div class="col md-6">
        <div class="col xs-3 small-icon-left">
          <img src="http://placehold.it/100x100">
        </div><!--small-icon-left-->
        <div class="col xs-9 left-content">
          <h4>Restaurants</h4>
          <p>Everyone loves free WiFi when they are in a restaurant. Find out who comes to your restaurant and how to attract them back.</p>
        </div>
      </div>

      <div class="col md-6">
        <div class="col xs-3 small-icon-left">
          <img src="http://placehold.it/100x100">
        </div>
        <div class="col xs-9 left-content">
          <h4>Retail</h4>
          <p>Everyone loves free WiFi when they are in a restaurant. Find out who comes to your restaurant and how to attract them back.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col md-6">
        <div class="col xs-3 small-icon-left">
          <img src="http://placehold.it/100x100">
        </div>
        <div class="col xs-9 left-content">
          <h4>Shopping Malls</h4>
          <p>Everyone loves free WiFi when they are in a restaurant. Find out who comes to your restaurant and how to attract them back.</p>
        </div>
      </div>

      <div class="col md-6">
        <div class="col xs-3 small-icon-left">
          <img src="http://placehold.it/100x100">
        </div>
        <div class="col xs-9 left-content">
          <h4>Hotels</h4>
          <p>Everyone loves free WiFi when they are in a restaurant. Find out who comes to your restaurant and how to attract them back.</p>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col md-6">
          <div class="col xs-3 small-icon-left">
            <img src="http://placehold.it/100x100">
          </div>
          <div class="col xs-9 left-content">
            <h4>Transportation</h4>
            <p>Everyone loves free WiFi when they are in a restaurant. Find out who comes to your restaurant and how to attract them back.</p>
          </div>
        </div>
      <div class="col md-6">
        <div class="col xs-3 small-icon-left">
          <img src="http://placehold.it/100x100">
        </div>
        <div class="col xs-9 left-content">
          <h4>City WiFi</h4>
          <p>Everyone loves free WiFi when they are in a restaurant. Find out who comes to your restaurant and how to attract them back.</p>
        </div>
      </div>
    </div>

    <div class="col md-3"></div>
    <div class="col md-6">
        <h2>and Partners</h2>
        <p>Everyone loves free WiFi when they are in a restaurant. Find out who comes to your restaurant and how to attract them back.</p>
    </div>
    <div class="col md-3"></div>
  </div><!--container-->
</div><!--Slide-->

<div class="slide">
  <h2>Powerful Features, Actionable Data</h2>

  <div class="container fluid">
    <div class="row">
      <div class="col md-4">
        <img src="http://placehold.it/300x200">
        <h4>Seamless WiFi login for your customers</h4>
        <p>FansWiFi sets up a WiFi hotspot for your customers and we make it easy for them to access it via social media and lead them to your page for more likes and traction!</p>
      </div>
      <div class="col md-4">
        <img src="http://placehold.it/300x200">
        <h4>Multiple social media platform supported</h4>
        <p>FansWiFi sets up a WiFi hotspot for your customers and we make it easy for them to access it via social media and lead them to your page for more likes and traction!</p>
      </div>
      <div class="col md-4">
        <img src="http://placehold.it/300x200">
        <h4>Targeted promotional features</h4>
        <p>FansWiFi sets up a WiFi hotspot for your customers and we make it easy for them to access it via social media and lead them to your page for more likes and traction!</p>
      </div>
    </div>
  </div>
</div><!--Slide-->

<div class="slide">
  <h2>Become our Partner</h2>
  <p>Interested in becoming our reselling partner? We give you everything you need to bring FansWiFi to your market!</p>
  <a class="button" href="/partner.html">Learn More</a>
</div><!--Slide-->

<div class="slide">
  <h2>Don't just take our word for it</h2>
  <h4>Check out some industry awards we have won!</h4>
  <div class="container fluid">
    <div class="row">
      <div class="col sm-3">
        <img src="http://placehold.it/300x200">
        <h4>Award 1</h4>
        <p>Best Mobile App Award: Mobile Marketing Stream</p>
      </div>
      <div class="col sm-3">
        <img src="http://placehold.it/300x200">
        <h4>Award 2</h4>
        <p>Best Mobile App Award: Mobile Marketing Stream</p>
      </div>
      <div class="col sm-3">
        <img src="http://placehold.it/300x200">
        <h4>Award 3</h4>
        <p>Best Mobile App Award: Mobile Marketing Stream</p>
      </div>
      <div class="col sm-3">
        <img src="http://placehold.it/300x200">
        <h4>Award 4</h4>
        <p>Best Mobile App Award: Mobile Marketing Stream</p>
      </div>
    </div>
  </div><!--container-->
</div><!--Slide-->

<div class="slide">
  <h2>Whos Talking about us?</h2>
  <div class="container fluid">
    <div class="row">
      <div class="col sm-2"><img src="http://placehold.it/200x150"></div>
      <div class="col sm-2"><img src="http://placehold.it/200x150"></div>
      <div class="col sm-2"><img src="http://placehold.it/200x150"></div>
      <div class="col sm-2"><img src="http://placehold.it/200x150"></div>
      <div class="col sm-2"><img src="http://placehold.it/200x150"></div>
      <div class="col sm-2"><img src="http://placehold.it/200x150"></div>
    </div>
  </div>
</div><!--Slide-->
