<section id="first-screen">
  <div class="max-width first-slide-content-align">
      <h1>Understand your customers, <br>connect with them and bring them back</h1>
      <h3>With our social Wifi hotspot platform.</h3>
  </div>
  <a id="video-button" href="https://www.youtube.com/embed/oSYQ11yuieg?enablejsapi=1&rel=0" data-lity>
    <img src="/img/playbutton.png">
  </a>
  <!-- my lightbox video, can be deleted in the future -->
  <!-- <button id="video-button" href="https://www.youtube.com/embed/oSYQ11yuieg?enablejsapi=1&rel=0" data-lity>
    <img src="/img/playbutton.png">
  </button> -->


  <!-- <div id="lightBoxBg" href="javascript:;"  onclick="toggleVideo('hide');"></div>
  <div id="lightBoxWidth">
    <div id="lightBox" class="video-container">
      <iframe width="500" height="315" src="https://www.youtube.com/embed/oSYQ11yuieg?enablejsapi=1&rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div> -->
    <div class="customer-list">
      <div class="container fluid max-width">
        <div class="customers col xs-2">
          <a href=""><img src="/img/clients/blt.png"></a>
        </div>
        <div class="customers col xs-2">
          <a href=""><img src="img/clients/gateway.png"></a>
        </div>
        <div class="customers col xs-2">
          <a href=""><img src="img/clients/winglung.png"></a>
        </div>
        <div class="customers col xs-2">
          <a href=""><img src="img/clients/perfectmedical.png"></a>
        </div>
        <div class="customers col xs-2">
          <a href=""><img src="img/clients/diningconcepts.png"></a>
        </div>
        <div class="customers col xs-2">
          <a href=""><img src="img/clients/emma.png"></a>
        </div>
      </div>
    </div><!--customerlist-->
</section> <!--Section-->


<section id="intro">
  <div class="slide">
    <h2>What does FansWiFi do?</h2>
    <div class="container fluid">
      <div class="row">
        <div class="col md-4 col sm-6 spacing">
          <img src="/img/what/1.jpg">
          <div class="steps">
            <h4>WiFi for your guests</h4>
          </div>
          <p>FansWiFi sets up a <span class="bold">plug and play</span> WiFi hotspot for your customers and we make it easy for them to access it via social media and lead them to your page for more likes and traction!</p>
        </div>
        <div class="col md-4 col sm-6 spacing">
          <img src="/img/what/5.jpg">
          <!-- <img src="img/mockups/understand.png"> -->
          <div class="steps">
            <h4>Build your customer database</h4>
          </div>
          <p>Upon accessing your WiFi, they will be put in a customer list with actionable data such as their contact information, demographics, social media, history, and many more!</p>
        </div>
        <div class="col md-4 spacing">
          <img src="/img/what/4.jpg">
          <div class="steps">
            <h4>Bring them back</h4>
          </div>
          <p>With new information now in your hands, invite them back with coupons and promotions catered to your customers with our remarketing services.</p>
        </div>
      </div>
    </div>
  </div><!--Slide-->
</section>

<section id="audience">
  <div class="slide">
    <h2>Who is FansWiFi for?</h2>
    <div class="container fluid">
      <div class="row">

        <div class="col md-6 spacing text-left vert-align-flex">
          <div class="col xs-3 vert-align-flex">
            <i class="fa fa-cutlery fa-3x audience-font-awesome" aria-hidden="true"></i>
            <!-- <img src="img/audience/restaurant.png"> -->
          </div><!--small-icon-left-->
          <div class="col xs-9">
            <h4>Restaurants</h4>
            <p>Everyone loves free WiFi when they are in a restaurant. Find out who comes to your restaurant and how to attract them back.</p>
          </div>
        </div>

        <div class="col md-6 spacing text-left vert-align-flex">
          <div class="col xs-3 vert-align-flex">
            <!-- <img src="img/audience/retail.png"> -->
            <i class="fa fa-shopping-cart fa-3x audience-font-awesome" aria-hidden="true"></i>
          </div>
          <div class="col xs-9">
            <h4>Retail</h4>
            <p>Offer free WiFi to customers at their shops and collect customer demographic. Invite them back with coupons and promotions through WiFi accesss or email.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col md-6 spacing text-left vert-align-flex">
          <div class="col xs-3 vert-align-flex">
            <!-- <img src="img/audience/mall.png"> -->
            <i class="fa fa-shopping-bag fa-3x audience-font-awesome" aria-hidden="true"></i>
          </div>
          <div class="col xs-9">
            <h4>Shopping Malls</h4>
            <p>Promote shops and seasonal events via WiFi and increase business for tenants and traffic. Find out where people gather through our WiFi heatmap feature.</p>
          </div>
        </div>

        <div class="col md-6 spacing text-left vert-align-flex">
          <div class="col xs-3 vert-align-flex">
            <!-- <img src="img/audience/hotel.png"> -->
            <i class="fa fa-bed fa-3x audience-font-awesome" aria-hidden="true"></i>
          </div>
          <div class="col xs-9">
            <h4>Hotels</h4>
            <p>Promote other services offered by your hotel via wifi while gathering more fans for your social media pages!</p>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col md-6 spacing text-left vert-align-flex">
            <div class="col xs-3 vert-align-flex">
              <!-- <img src="img/audience/transportation.png"> -->
              <i class="fa fa-train fa-3x audience-font-awesome" aria-hidden="true"></i>
            </div>
            <div class="col xs-9">
              <h4>Transportation</h4>
              <p>Free WiFi during transporation is great. Find out where they may be headed to and offer promotions accordingly!</p>
            </div>
          </div>
        <div class="col md-6 spacing text-left vert-align-flex">
          <div class="col xs-3 vert-align-flex">
            <!-- <img src="img/audience/city.png"> -->
            <i class="fa fa-building fa-3x audience-font-awesome" aria-hidden="true"></i>
          </div>
          <div class="col xs-9">
            <h4>City WiFi</h4>
            <p>Offering WiFi in any city facilities is a great opportunity to gather more social media and brand exposure for your company!</p>
          </div>
        </div>
      </div>

      <div class="col md-2"></div>
      <div class="col md-8">
          <h2>and Partners</h2>
          <!-- <h4>Interested in becoming our reselling partner? We give you everything you need to bring FansWiFi to your market!</h4> -->
      </div>
      <div class="col md-2"></div>

      <div class="row">
        <div class="col md-6 spacing text-left vert-align-flex">
          <div class="col xs-3 vert-align-flex">
            <i class="fa fa-mobile fa-5x audience-font-awesome" aria-hidden="true"></i>
          </div>
          <div class="col xs-9">
            <h4>Service Providers</h4>
            <p>Partner with us to provide your clients with an enhanced WiFi marketing service, allowing them to connect with their customers for remarketing.</p>
          </div>
        </div>
        <div class="col md-6 spacing text-left vert-align-flex">
        <div class="col xs-3 vert-align-flex">
          <i class="fa fa-globe fa-4x audience-font-awesome" aria-hidden="true"></i>
        </div>
        <div class="col xs-9">
          <h4>Telecom Company</h4>
          <p>Partner with us to provide your clients with a ready made WiFi hotspot service.</p>
        </div>
        </div>
      </div>

      <a href="/partner.html">
        <div class="button">
          <h3>Learn More</h3>
        </div>
      </a>
    </div><!--container-->
  </div><!--Slide-->
</section><!--Section-->

<section id="features">
  <div class="slide">
    <h2>Powerful Features, Actionable Data</h2>
    <div class="container fluid">
      <div class="row">
        <div class="col md-4 spacing">
          <img src="/img/features/seamless.png">
          <h4 class="steps">Seamless WiFi login for your customers</h4>
          <p>We make it easy for your customers to access your wifi. Just sign in via social media and they get internet and you get to know more about them. Its a win-win!</p>
        </div>
        <div class="col md-4 spacing">
          <img src="/img/features/socialmedia.png">
          <h4 class="steps">Multiple social media platform supported</h4>
          <p>We support many different social media platforms such as Facebook, Instagram, WeChat, Weibo, and much more!</p>
        </div>
        <div class="col md-4 spacing">
          <img src="/img/features/targetemail3.png">
          <h4 class="steps">Targeted promotional features</h4>
          <p>FansWiFi sets up a WiFi hotspot for your customers and we make it easy for them to access it via social media and lead them to your page for more likes and traction!</p>
        </div>
      </div>
    </div>
  </div><!--Slide-->
</section>


<section id="partner">
  <div class="slide">
    <h2>Become our Partner</h2>
    <h4>Interested in becoming our reselling partner? We give you everything you need to bring FansWiFi to your market!</h4>
      <a href="/partner.html">
        <div class="button">
          <h3>Learn More</h3>
        </div>
      </a>
  </div><!--Slide-->
</section>

<section id="awards">
  <div class="slide">
    <h2>Don't just take our word for it</h2>
    <h4>Check out some industry awards we have won!</h4>
    <div class="container fluid">
      <div class="row">
        <div class="col md-3 col sm-6 award">
          <img src="img/awards/award_ict_award_sq.png">
          <h4>ICT Awards 2014</h4>
          <p>Best Mobile App Award: Mobile Marketing Stream</p>
        </div>
        <div class="col md-3 col sm-6 award">
          <img src="img/awards/award_mobex_2015_sq.png">
          <h4>MOB-EX 2015</h4>
          <p>Gold Award: Most Innovative use of Mobile Technology</p>
        </div>
        <div class="col md-3 col sm-6 award">
          <img src="img/awards/award_asia_smartphone_apps_sq.png">
          <h4>Asia Smartphone Apps Contest</h4>
          <p>Advertising and Marketing Stream, 2014 — Certificate of Merit</p>
        </div>
        <div class="col md-3 col sm-6 award">
          <img src="img/awards/award_pcm_biz_it_2016.png">
          <h4>PCM Biz IT Excellence 2014 / 2016</h4>
          <p>Retail Industry — IT Solution Excellence</p>
        </div>
      </div>
    </div><!--container-->
  </div><!--Slide-->
</section>

<section id="mediacoverage">
  <div class="slide">
    <h2>Whos Talking about us?</h2>
    <div class="container fluid">
      <div class="row">
        <div class="col md-2 col xs-6 spacing"><img src="img/coverage/1.png"></div>
        <div class="col md-2 col xs-6 spacing"><img src="img/coverage/3.png"></div>
        <div class="col md-2 col xs-6 spacing"><img src="img/coverage/2.png"></div>
        <div class="col md-2 col xs-6 spacing"><img src="img/coverage/6.png"></div>
        <div class="col md-2 col xs-6 spacing"><img src="img/coverage/5.png"></div>
        <div class="col md-2 col xs-6 spacing"><img src="img/coverage/4.png"></div>
      </div>
    </div>
  </div><!--Slide-->
</section>
