<div class="slide">
  <h2>Understand your customers, connect with them and bringing them back</h2>
  <h3>With our social Wifi hotspot platform.
  <div>Video</div>
  <div class="customer-list">
    <div class="customers"></div>
    <div class="customers"></div>
    <div class="customers"></div>
    <div class="customers"></div>
    <div class="customers"></div>
  </div>
</div> <!--Slide-->

<div class="slide">
  <h2>What does FansWiFi do?</h2>
  <div class="tri-point">
    <h4>Wifi for your guests</h4>
    <p>FansWiFi sets up a WiFi hotspot for your customers and we make it easy for them to access it via social media and lead them to your page for more likes and traction!</p>
  </div>
  <div class="tri-point">
    <h4>Understand your customers</h4>
    <p>Upon accessing your WiFi, they will be put in a customer list with actionable data such as their contact information, demographics, social media, history, and many more!</p>
  </div>
  <div class="tri-point">
    <h4>Bring them back</h4>
    <p>With new information now in your hands, invite them back with coupons and promotions catered to your customers.</p>
  </div>
</div><!--Slide-->

<div class="slide">
  <h2>Who is FansWiFi for</h2>
  <h4>Restaurants</h4>
  <h4>Retail</h4>
  <h4>Shopping Malls</h4>
  <h4>Hotels</h4>
  <h4>Transporation</h4>
  <h4>City Wifi</h4>
  <h4>Partners</h4>
</div><!--Slide-->
