<div class="slide">
  <h1>Understand your customers, connect with them and bringing them back</h1>
  <h3>With our social Wifi hotspot platform.
  <div>Video</div>
  <div class="customer-list">
    <div class="customers"></div>
    <div class="customers"></div>
    <div class="customers"></div>
    <div class="customers"></div>
    <div class="customers"></div>
  </div>
</div> <!--Slide-->

<div class="slide">
  <h2>What does FansWiFi do?</h2>
  <div class="row">
    <div class="tri-point">
      <h4>Wifi for your guests</h4>
      <p>FansWiFi sets up a WiFi hotspot for your customers and we make it easy for them to access it via social media and lead them to your page for more likes and traction!</p>
    </div>
    <div class="tri-point">
      <h4>Understand your customers</h4>
      <p>Upon accessing your WiFi, they will be put in a customer list with actionable data such as their contact information, demographics, social media, history, and many more!</p>
    </div>
    <div class="tri-point">
      <h4>Bring them back</h4>
      <p>With new information now in your hands, invite them back with coupons and promotions catered to your customers.</p>
    </div>
  </div>
</div><!--Slide-->

<div class="slide">
  <h2>Who is FansWiFi for</h2>
  <h4>Restaurants</h4>
  <h4>Retail</h4>
  <h4>Shopping Malls</h4>
  <h4>Hotels</h4>
  <h4>Transporation</h4>
  <h4>City Wifi</h4>
  <h4>Partners</h4>
</div><!--Slide-->

<div class="slide">
  <h2>Powerful Features, Actionable Data</h2>
  <p>Our service provides many features that will make it easy for your customers to access your WiFi.</p>
  <div class="row">
    <div class="tri-point">
      <h4>Seamless WiFi login for your customers</h4>
      <p>FansWiFi sets up a WiFi hotspot for your customers and we make it easy for them to access it via social media and lead them to your page for more likes and traction!</p>
    </div>
    <div class="tri-point">
      <h4>Multiple social media platform supported</h4>
      <p>FansWiFi sets up a WiFi hotspot for your customers and we make it easy for them to access it via social media and lead them to your page for more likes and traction!</p>
    </div>
    <div class="tri-point">
      <h4>Targeted promotional features</h4>
      <p>FansWiFi sets up a WiFi hotspot for your customers and we make it easy for them to access it via social media and lead them to your page for more likes and traction!</p>
    </div>
  </div>
</div><!--Slide-->

<div class="slide">
  <h2>Become our Partner</h2>
  <p>Interested in becoming our reselling partner? We give you everything you need to bring FansWiFi to your market!</p>
  <a class="button" href="/partner.html">Learn More</a>
</div><!--Slide-->

<div class="slide">
  <h2>Don't just take our word for it</h2>
  <h4>Check out some industry awards we have won!</h4>
  <div class="row">
    <div class="quad-point"></div>
    <div class="quad-point"></div>
    <div class="quad-point"></div>
    <div class="quad-point"></div>
  </div>
</div><!--Slide-->

<div class="slide">
  <h2>Whos Talking about us?</h2>
  <div class="hex-point"></div>
  <div class="hex-point"></div>
  <div class="hex-point"></div>
  <div class="hex-point"></div>
  <div class="hex-point"></div>
  <div class="hex-point"></div>
</div><!--Slide-->
