@import "grid.scss";

//Presets
body {
  font-family: "Helvetica";
  text-align: center;
  color: #444;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3em; //48px
  margin:0;
  font-family:'Montserrat', sans-serif;
  color: #FFF;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  color: #F2631E;
}

h3{
  font-size: 1.5em; //24px
  font-family:'Montserrat', sans-serif;
  font-weight: 300;
  color: #FFF;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 1.25em;

}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  font-weight:200;
}

p {
  font-size: 1em; //16px
  line-height: 1.4em;
  font-family: 'Roboto', sans-serif;
}

img {
  width: 100%;
}

li {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4em;
}

.bolded {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

//Navigation Bar
#nav-bar {
  height: 70px;
  transition: all 0.4s ease;
  position: fixed;
  width: 100%;
  z-index: 1; //makes nav bar be at the top
  background-color: transparent;

  ul {
    list-style-type: none;
    float:right;

    li a:hover {
      color: #ff9f39;
    }
    li {
      float: left;
      font-family:'Montserrat', sans-serif;
      color: #FFFFFF;
      text-decoration:none;
      a {
          display:block;
          padding:1em 1.5em;
            transition: all 0.4s ease;
      }

      transition: 0.4s all;
    }
  }//end of ul

  #nav-content {
    transition: all 0.4s;
  }

.logo {
    max-width:7em;
    margin-top: 0.6em;
    margin-left: 0.7em;
    z-index:5;
    float:left;
  }

  .portal {
    float:right;
    color:#FFFFFF;
    padding: 1.5em 1em 1em 1em;
  }
}

//Hamburger Menu
#hamburger {
  display: none;
  cursor: pointer;
  padding: 0.9em 1em;
  float:right;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #FFF;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-8px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
   transform: rotate(45deg) translate(-9px, -8px) ;
}
//end of Hamburger Menu
//Navigation bar end


//class presets
.max-width {
  max-width: 1200px;
  margin: 0 auto;
}

.max-width-1400 {
  max-width: 1400px;
  width:100%;
  margin: 0 auto;
  overflow:auto;
}

.spacing { //for more padding space
  box-sizing: border-box;
  padding:1em;
}

.slide {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3em;
  box-sizing: border-box;
  overflow:auto;
}

.button {
  padding: 12.5px 33px;
  border-radius: 10px;
  background-color: #F2631E;
  text-decoration: none;
  color: #FFF;
  display: inline-block;
  margin-top: 1em;

  h3, h4 {
    margin:0;
  }
}

//Flex mainly for vertical aligning
.flex{
  display: flex !important;
}

.vert-align-flex {
  display:flex !important;
  align-items:center;
  justify-content: center;
}

.left-content {
  text-align: left;
}

.steps { //to make sure text wrapping doesnt change height of other things
  height:2em;
}

.font-awesome {
  color:#F2631E;
}

.order-span {
  font-size: 1.5em;
  color: #F2631E;
}

//The first slide of every screen sesttings
.top-screen{
  display:flex;
  height:40vh;
  min-height: 20em;
  background: linear-gradient(to bottom right, #BF2718, #F2631E);;
}

#product-screen {
  background-image: url('img/producttop.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#partner-screen {
  background-image: url('img/partnertop.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#success-screen {
  background-image: url('img/successtop.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.top-screen-text-down {
  margin-top:2.5em;
}
//end of first slide of every screen settings

//First screen
#first-screen{
  height: 100vh;
  display: flex;
  flex-direction: column;

  background-image: url("img/index_page.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.first-slide-content-align {
  padding-top:5em;
  margin-top: auto;
}

.customer-list {
  background-color: rgba(31, 31, 31, 0.82);
  margin-top: auto;
  padding:1em;
}
.customers {
  padding:1em;
}

//Video Button
#video-button {
  width: 100px;
  margin:0 auto;
  img{
    max-width:100px;
  }
}

#audience {
  overflow:auto;
  color: #FFF;
  background-image: url("img/audience/audience.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  h4 {
    margin-bottom: 0.5em;
  }

  p {
    margin-top: 0.1em;
  }
}

.audience-font-awesome {
  margin: 0 auto;
}

#partner {
  padding: 5em 0;
  background-color:#f4f4f7;
}

.award {
  padding:1em;
  img {
    max-width: 172px;
  }
}
//end of first slide

//Product Page

//Side image - beyond max width
.overflow-images-left {
  position: absolute;
  background-image: url('img/mockups/understand2.png');
  left: 3%;
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.overflow-images-right {
  position: absolute;
  background-image: url('img/mockups/control2.png');
  right: 0;
  width: 50%;
  height: 100%;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.side-image {
  margin: 3em 0;
  position: relative;
  padding: 0;
  overflow: hidden;
  min-height: 550px;

  img {
    max-width: 75px;
  }
}

#buy {
  padding: 5em 0;
  background:#f4f4f7;
}
//End of product page


//Partner Page

#partnerfaq {
  p, h4 {
    text-align:left;
  }
}

#contact {
  background-color:#f4f4f7;
}

.row-wrapper {
  border-bottom: 1px solid rgba(242, 99, 30, 0.47);

  .spacing {
    padding:2em;
  }
}

.hardware-wrapper {
  border-right: 1px solid rgba(242, 99, 30, 0.47);
}
//End of Partner Page


//Contact us Page
#contactus {
  background: url("/img/contactbg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height:100vh;
  text-align:left;
  color: #FFFFFF;

  img {
    max-width: 150px;
  }
}

.google-maps {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
//End of Contact Us

//Success-Stories Page
.company-container {
  background-color: #F2631E;
  transition: 0.4s all;
  padding-top: 2em;
    padding-bottom: 2em;
}

.company-container:hover {
  background-color: #BF2718;
}

.success {
  p {
    text-align:left;
  }

  ul {
    padding: 10px;
    list-style:none;
    li {

      .result-icon {
        float:left;
      }

      .result {
        margin-left: 2em;
        margin-top:0.1em;
      }
    }

  }
}
//End of Success-Stories

//Bot navigation
.bot-nav {
  background: linear-gradient(to bottom right, #F2631E, #BF2718);
  color:#FFFFFF;
  text-align:left;
  overflow:auto;
  p {
    margin:0.5em auto;
  }

  .botnav-logo {
    float:right;
    margin: 1em;

    img {
      max-width: 8em;
    }
  }

  .social {
    img {
      max-width: 50px;
    }
  }

  a {
    text-decoration:underline;
  }
}
//Bot navigation end

@media(max-width: 1600px) {
  h1 {
    font-size: 2.12em;
  }
  .overflow-images-left{
    left:0;
  }

  .overflow-images-right{
    right:0;
  }
}

@media(max-width: 1000px) {
  h4{
    font-size: 1em;
  }

  #contactus {
    padding-top: 4em;
  }
}

@media(max-width: 950px) {
  #nav-bar {
    height: calc(310px - 242px);
    ul {
      padding: 0;
      width: 100%;
      li {
        width: 100%;
        margin: 0;
        box-sizing: border-box;
      }
    }

    .change #nav-content{
      background-color: rgba(255, 99, 40, 0.95);
      background-color: #F2631E;
      opacity: 1;
      transform: scaleY(1);
    }

    #nav-content {
      opacity: 0;
      transform-origin: top;
      transform:scaleY(0);
      margin: 0;
    }

    #hamburger {
      display: inline-block;
    }

    .portal {
      padding:1.2em 0.7em 0.7em 0.7em
    }
  }

  .max-width-1400 {
    box-sizing:border-box;
    padding-left:3em;
    padding-right:3em;
  }
}

@media(max-width: 750px) {
  h1 {
    font-size: 1.4em;
  }

  h2 {
    font-size: 1em;
  }

  h3 {
    font-size:1em;
  }

  h4 {
    font-size: 1em;
  }

  p, li {
    font-size:0.9em;
  }

  .disappear {
    opacity: 0;
    display: none !important;
  }

  .side-image {
    flex-direction: column;

    .overflow-images-left{
      position: static;
      width: 100%;
      height: 350px;
    }

    .overflow-images-right{
      position: static;
      width: 100%;
      height: 350px;
    }
  }

  .bot-nav .botnav-logo {
    float: none;
    margin: 0;
  }

  #install, #partner-testimonials, #partner-features {
    .flex {
      flex-direction: column;
    }
  }

  .top-screen, #partner-features {
    .vert-align-flex {
      flex-direction:column;
    }
  }
}


@media(max-width: 500px) {
  .nav-container {
    flex-direction: column;
  }

  .hardware-wrapper {
    border-right: none;
  }

  .slide {
    padding: 3em 1em;
  }

  .max-width-1400 {
    padding: 0;
  }
}

//Styles only applies to Internet Explorers
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     #nav-bar {
       background-color: #F2631E;
     }

     #contactus {
       height:100vh;
     }

     .side-image {
       height: 550px;
       overflow:hidden;
     }

     .max-width {
       width: 1200px;
     }

     .font-awesome{
       -ms-flex: 1;
        -webkit-flex: 1;
        flex: 1;
     }

     @media (max-width:750px) {
       .side-image {
         height: auto;
       }
     }

     @media (max-width: 1200px) {
       .max-width {
         width: auto;
       }
     }
}
