body{
  font-family: "Helvetica";
  text-align: center;
  padding: 50px 20px 0;
  background: #f4f4f7;
  color: #444;
  margin: 0;
}

body {
  background: #FFF;
  padding:0;
  margin: 0;
}

h1 {
  font-size: 3em; //48px
  margin:0;
  font-family:'Montserrat', sans-serif;
}

h3{
  font-size: 1.5em; //24px
  font-family:'Montserrat', sans-serif;
  font-weight: 300;
}

h4{

}

.nav-content {
  display:flex;
  margin-left: auto;
}

.nav-bar {
  margin:0;
  overflow: hidden;
  max-height: 65px;

  background-color: #000;
  ul {
    list-style-type: none;
    li {
      float: left;
      margin: 0.5em 1.5em;
      a {
          font-family:'Montserrat', sans-serif;
          color: #FFF;
          text-decoration:none;
      }
    }
  }
  .logo {
    margin: 1em;
    //float:left;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;

}

.slide {
  //overflow:auto;
  padding: 5em 3em;
}

#first-screen{
  height: calc(100vh - 65px);
  display: flex;
  flex-direction: column;
}

.row {
  display:flex;
  transition: 0.5s all;
  //width: 100%;
}

.center-content {
  margin-top: auto;
  flex-direction:column;
  width: 100%;
}

.content {
  text-align:left;
}

.wrap {
  flex-wrap: wrap;
}

.customer-list {
  background-color: grey;
  //padding: 0.5em;
  display:flex;
  justify-content: space-around;
  align-items:flex-end;
  margin-top: auto;
}
.customers {
  padding: 1em 0.5em;
  display: inline-block;
  display:flex;
  img {
    width: 100%;
    height: auto;
  }
}

.small-icon {
  margin:1.5em;
}

.quad-point{
  display: inline-block;
  padding: 1em;
  flex: 1 1 0;

  img {
    width: 100%;
  }
}

.tri-point {
  //display:flex;
  //flex-direction:column;
  display: inline-block;
  padding:1em;
  flex: 1 1 0; //makes items inside flex the same saize

  //width:33%;

  img {
    width:100%;
  }
}

.dual-point {
  display: flex;
}

.hex-point {
  display: inline-block;
  padding:1em;
  flex: 1 1 0;

  img {
    width: 100%;
  }
}


@media(max-width: 800px) {
  .row{
    flex-direction: column;
  }
}
