<div class="slide">
  <h1>FansWiFi Partner Program</h1>
</div> <!--Slide-->

<div class="slide">
  <h2>Why partner with FansWiFi?</h2>
  <div class="container fluid">
    <div class="row">
      <div class="col md-4 col sm-6 spacing">
        <img src="http://placehold.it/200x150">
        <h4>Add value to your business</h4>
      </div>
      <div class="col md-4 col sm-6 spacing">
        <img src="http://placehold.it/200x150">
        <h4>Help your Clients</h4>
      </div>
      <div class="col md-4 col sm-6 spacing">
        <img src="http://placehold.it/200x150">
        <h4>Enjoy our benefits</h4>
      </div>
    </div>
  </div>
</div><!--Slide-->

<div class="slide">
  <div class="container fluid">
    <div class="row">
      <div class="col lg-6">
        <div class="col xs-6">
          <img src="http://placehold.it/200x350">
        </div>
        <div class="col xs-6">
          <img src="http://placehold.it/200x350">
        </div>
      </div>
      <div class="col lg-6 text-left">
      <h2>Fully customizable, Easy to use</h2>
        <h4>White Labeling</h4>
        <p>FansWiFi sets up a WiFi hotspot for your customers and we make it easy for them to access it via social media and lead them to your page for more likes and traction!</p>
        <h4>Technical Support</h4>
        <p>FansWiFi sets up a WiFi hotspot for your customers and we make it easy for them to access it via social media and lead them to your page for more likes and traction!</p>
        <h4>Demo Acccounts</h4>
        <p>FansWiFi sets up a WiFi hotspot for your customers and we make it easy for them to access it via social media and lead them to your page for more likes and traction!</p>
      </div>
    </div>
  </div>
</div><!--Slide-->

<div class="slide">
  <h2>FAQ</h2>
    <h4>How does it work</h4>
    <p>Answers Here</p>
</div><!--Slide-->

<div class="slide">
  <h2>Lets Talk</h2>
  <p>Want to be partners? We give you everything you need to bring FansWiFi to your market.</p>
  <a class="button" href="">Call Us 852 882 8882</a>
  <h2>Or</h2>
  <p>Fill out the form below and we will give you a call shortly!</p>
  <form action="">
    <div class="container fluid">
      <div class="row text-left">
        <div class="col md-6 col sm-6 spacing">
          <p>First Name</p>
          <input class="col md-12"  type="text" name="FirstName">
        </div>
        <div class="col md-6 col sm-6 spacing">
          <p>Last Name</p>
          <input class="col md-12"  type="text" name="LastName">
        </div>
        <div class="col md-6 col sm-6 spacing">
          <p>Phone</p>
          <input class="col md-12"  type="text">
        </div>
        <div class="col md-6 col sm-6 spacing">
          <p>E-mail</p>
          <input class="col md-12"  type="text">
        </div>

      </div>

      <div class="col md-12 center">
        <input type="submit">
      </div>
    </div>
  </form>
</div><!--Slide-->
