<div class="slide">
  <h1>FansWiFi Partner Program</h1>
</div> <!--Slide-->

<div class="slide">
  <h2>Why partner with FansWiFi?</h2>
  <div class="row">
    <div class="tri-point">
      <img src="http://placehold.it/200x150">
      <h4>Add value to your business</h4>
    </div>
    <div class="tri-point">
      <img src="http://placehold.it/200x150">
      <h4>Help your Clients</h4>
    </div>
    <div class="tri-point">
      <img src="http://placehold.it/200x150">
      <h4>Enjoy our benefits</h4>
    </div>
  </div>
</div><!--Slide-->

<div class="slide">
  <img src="http://placehold.it/200x350">
  <img src="http://placehold.it/200x350">
  <h2>Fully customizable, Easy to use</h2>

    <h4>White Labeling</h4>

    <h4>Technical Support</h4>

    <h4>Demo Acccounts</h4>
</div><!--Slide-->

<div class="slide">
  <h2>FAQ</h2>
    <h4>How does it work</h4>
    <p>Answers Here</p>
</div><!--Slide-->

<div class="slide">
  <h2>Lets Talk</h2>
  <p>Want to be partners? We give you everything you need to bring FansWiFi to your market.</p>
  <a class="button" href="">Call Us 852 882 8882</a>
  <h2>Or</h2>
  <p>Fill out the form below and we will give you a call shortly!</p>
  <form action="">
    <p>First Name</p>
    <input type="text" name="FirstName">
    <p>Last Name</p>
    <input type="text" name="LastName">
    <p>Phone</p>
    <input type="text">
    <p>E-mail</p>
    <input type="text">
    <input type="submit">
  </form>
</div><!--Slide-->
