<section class="top-screen">
  <div class="vert-align-flex center">
    <div class="spacing">
      <h1>FansWiFi Partner Program</h1>
      <!-- <h3>To gather valuable insight for more fans, customers, and business</h3> -->
    </div>
  </div>
</section> <!--Slide-->

<div class="slide">
  <h2>Why partner with FansWiFi?</h2>
  <div class="container fluid">
    <div class="row">
      <div class="col md-4 col sm-6 spacing">
        <img src="http://placehold.it/200x150">
        <h4>Add value to your business</h4>
      </div>
      <div class="col md-4 col sm-6 spacing">
        <img src="http://placehold.it/200x150">
        <h4>Help your Clients</h4>
      </div>
      <div class="col md-4 col sm-6 spacing">
        <img src="http://placehold.it/200x150">
        <h4>Enjoy our benefits</h4>
      </div>
    </div>
  </div>
</div><!--Slide-->

<div class="slide">
  <div class="container fluid">
    <div class="row">
      <div class="col lg-6">
        <div class="col xs-6">
          <img src="/img/mockups/mockup.png">
        </div>
        <div class="col xs-6">
          <img src="/img/mockups/mockup.png">
        </div>
      </div>
      <div class="col lg-6 text-left">
      <h2>Fully customizable, Easy to use</h2>
        <h4>White Labeling</h4>
        <p>FansWiFi sets up a WiFi hotspot for your customers and we make it easy for them to access it via social media and lead them to your page for more likes and traction!</p>
        <h4>Technical Support</h4>
        <p>FansWiFi sets up a WiFi hotspot for your customers and we make it easy for them to access it via social media and lead them to your page for more likes and traction!</p>
        <h4>Demo Acccounts</h4>
        <p>FansWiFi sets up a WiFi hotspot for your customers and we make it easy for them to access it via social media and lead them to your page for more likes and traction!</p>
      </div>
    </div>
  </div>
</div><!--Slide-->

<section id="partnerfaq">
  <div class="slide">
    <h2>FAQ</h2>
    <div class="container fluid">
      <div class="row">
        <div class="col md-6 spacing">
          <h4>How does it work?</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
        </div>
        <div class="col md-6 spacing">
          <h4>How much does it cost?</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
  </div><!--Slide-->
</section>

<section id="contact">
  <div class="slide">
    <h2>Lets Talk</h2>
    <h4>Want to be partners? We give you everything you need to bring FansWiFi to your market.</h4>
    <a class="button" href="">Call Us 852 3709 7525</a>
    <h2>Or</h2>
    <h4>Fill out the form below and we will give you a call shortly!</h4>
    <form action="mail.php" name="myform" method="post">
      <div class="container fluid">
        <div class="row text-left">
          <div class="col md-6 col sm-6 spacing">
            <h4>First Name</h4>
            <input class="col md-12"  type="text" name="firstname">
          </div>
          <div class="col md-6 col sm-6 spacing">
            <h4>Last Name</h4>
            <input class="col md-12"  type="text" name="lastname">
          </div>
          <div class="col md-6 col sm-6 spacing">
            <h4>Phone</h4>
            <input class="col md-12"  type="text" name="phone">
          </div>
          <div class="col md-6 col sm-6 spacing">
            <h4>E-mail</h4>
            <input class="col md-12"  type="text" name="email">
          </div>

        </div>

        <div class="col md-12 center">
          <input  type="submit" value="Send" name="submit">
        </div>
      </div>
    </form>
  </div><!--Slide-->
</section>
