<section class="top-screen">
  <div class="vert-align-flex center">
    <div class="spacing">
      <h1>FansWiFi Partner Program</h1>
      <!-- <h3>To gather valuable insight for more fans, customers, and business</h3> -->
    </div>
  </div>
</section> <!--Slide-->

<div class="slide">
  <h2>Why partner with FansWiFi?</h2>
  <div class="container fluid">
    <div class="row">
      <div class="col md-3 col sm-6 spacing">
        <img src="/img/partner/value.png">
        <h4>Add value to your business</h4>
      </div>
      <div class="col md-3 col sm-6 spacing">
        <img src="/img/partner/clients.png">
        <h4>Help your Clients</h4>
      </div>
      <div class="col md-3 col sm-6 spacing">
        <img src="/img/partner/benefits.png">
        <h4>Enjoy our benefits</h4>
      </div>
      <div class="col md-3 col sm-6 spacing">
        <img src="/img/partner/revenue.png">
        <h4>Additional revenue</h4>
      </div>
    </div>
  </div>
</div><!--Slide-->

<section id="partner-features">
  <div class="max-width-1400">
    <div class="container fluid vert-align-flex">
      <div class="row vert-align-flex">
        <div class="col lg-7">
          <!-- <div class="col xs-6"> -->
            <img src="/img/features/whitelabel2.png">
          <!-- </div>
          <div class="col xs-6">
            <img src="/img/mockups/mockup.png">
          </div> -->
        </div>
        <div class="col lg-5 text-left spacing">
        <h2>Partner Features</h2>

          <h4>White Labeling</h4>
          <p>We can help you build your own brand. You can provide our wifi service with your brand and name.</p>

          <h4>Technical Support</h4>
          <p>Having trouble? Feel email or call us within business hours and we are more than happy to help you solve your issues.</p>

          <h4>Partner Discount</h4>
          <p>Partners recieve a special discount on our product!</p>
        </div>
      </div>
    </div>
  </div><!--Slide-->
</section>


<section id="partner-testimonials">
  <div class="slide">
    <h2>Testimonials</h2>
    <div class="container fluid max-width">

      <div class="row flex">
        <div class="col md-4 spacing">
          <img src="/img/coverage/ruckus.png">
        </div>
        <div class="col md-8 left-content vert-align-flex">
          <div class="spacing">
            <p>“FansWiFi is an important partner for Ruckus Wireless in the retail industry.  They offer a comprehensive and customizable social media login solution for our joint customers.”</p>
            <h4>– Dickens Lee, Ruckus Wireless</h4>
          </div>
        </div>
      </div>

      <div class="row flex">
        <div class="col md-4 spacing">
          <img src="/img/coverage/hkt.png">
        </div>
        <div class="col md-8 left-content vert-align-flex">
          <div class="spacing">
            <p>"I am delighted that the collaboration between HKT and FansWiFi is gaining momentum.  I look forward to exploring more business opportunities with FansWiFi together."</p>
            <h4>– Steve Ng, Senior Vice President</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="partnerfaq">
  <div class="slide">
    <h2>FAQ</h2>
    <div class="container fluid">
      <div class="row">
        <div class="col md-6 spacing">
          <h4>How does it work?</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
        </div>
        <div class="col md-6 spacing">
          <h4>How much does it cost?</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
  </div><!--Slide-->
</section>

<section id="contact">
  <div class="slide">
    <h2>Lets Talk</h2>
    <h4>Want to be partners? We give you everything you need to bring FansWiFi to your market.</h4>
    <a class="button" href="tel:+85237097525"><h4>Call Us 852 3709 7525</h4></a>
    <h2>Or</h2>
    <h4>Fill out the form below and we will respond shortly!</h4>
    <!-- <form action="https://formspree.io/support@fanswifisupport.zendesk.com" name="myform" method="post">
      <div class="container fluid">
        <div class="row text-left">
          <div class="col md-4 col sm-6 spacing">
            <h4>Name</h4>
            <input class="col md-12"  type="text" name="firstname">
          </div>
          <div class="col md-4 col sm-6 spacing">
            <h4>Email</h4>
            <input class="col md-12"  type="text" name="lastname">
          </div>
          <div class="col md-4 col sm-6 spacing">
            <h4>Phone</h4>
            <input class="col md-12"  type="text" name="phone">
          </div>
          <div class="col md-12 col sm-6 spacing">
            <h4>Message</h4>
            <textarea name="textarea" name="message"
            rows="10" cols="50"></textarea>
          </div>
        </div>

        <div class="col md-12 center">
          <input  class="button" type="submit" value="Submit" name="submit">
        </div>
      </div>
    </form> -->
    <a class="typeform-share button" href="https://jackie268.typeform.com/to/vJv6M6" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#f2631e;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:10px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">Form</a><script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id="typef_orm_share",b="https://s3-eu-west-1.amazonaws.com/share.typeform.com/";if(!gi.call(d,id)){js=ce.call(d,"script");js.id=id;js.src=b+"share.js";q=gt.call(d,"script")[0];q.parentNode.insertBefore(js,q)}})()</script>
  </div><!--Slide-->
</section>
