<section class="top-screen">
  <div class="vert-align-flex center">
    <div class="spacing">
      <h1>Privacy Policy</h1>
    </div>
  </div>
</section> <!--Slide-->

<div class="slide">
  <h2>Please read over our policy carefully</h2>
  <div class="container fluid">
    <div class="row left-content">
      <div class="col md-2">

      </div>
      <div class="col md-8">
        <p>FansWave Limited (“FansWave” or “we”) respects your right to privacy and complies with the obligations under the Personal Data (Privacy) Ordinance. The purpose of this Privacy Policy is to outline how we collect and deal with any personal data you provide to us while using our website(s) and the FansWiFi network service and/or our promotional services (“Services”), and how we use "cookies" technology. However, if you do not agree with this Privacy Policy, you should not use our website(s) and the Services.</p>

      <p>By using our Services, you are accepting the terms of this Privacy Policy. We may also operate the Services by working with or on behalf of third parties such as (i) our customers who operate and occupy the venue where you access the Services ("Venue Operator"); and (ii) the sponsor(s) of the Services as identified at the time you access or use the relevant Services ("Sponsor"). Any external links to other websites are clearly identifiable as such, and we are not responsible for the content or the privacy policies of these other websites. Different terms and conditions may apply to such websites, and such websites may not maintain the same standards of privacy as the Services.</p>

      <p>FansWave may be contacted at 3/F, Citicorp Centre, 18 Whitfield Road, Tin Hau, Hong Kong or by email at wifiuser@fanswifi.com</p>

      <h5>Information FansWave collects from you:</h5>
      <ul>
      <li><span class="bolded">Information you provide</span> – When you sign up for or use the Services or any promotion that requires registration, we may ask you for personal information (such as your name, email address, location, language, phone number, social media & blog profiles and an account password). For certain services we may also request credit card or other payment account information which we maintain in encrypted form on secure servers. For certain services, we may give you the opportunity to opt out of combining such information. In order to access the Service, it may be obligatory for you to provide certain personal information and, if you do not provide such information, we may not be able to provide you with the Services.</li>

      <li><span class="bolded">Information from other sources</span> – We may combine the information you submit under your account with information from other services we provide, for the purposes set out in section 3 below. We may also receive information about you from third parties (including, for example, business partners, sub-contractors, advertising networks, analytics providers or search information providers). Also, if you log in to the Services using a social media account (for e.g. Facebook, Twitter etc.), we will also receive and retain certain information from that particular social media account including but not limited to information that is available on your public profile, such as your posts, your friends lists, photographs and other information contained in your account. Such information received by us will be covered by this Privacy Policy. If you do not wish such information to be available to us then please adjust your privacy settings on your social media account(s)</li>

      <li><span class="bolded">Log information</span> – When you use the Services, our servers automatically record information and store certain information in server logs. These server logs may include information such as your web request, Internet Protocol address, browser type and version, browser language, time zone setting, the date and time of your web request, your full Uniform Resource Locators (URL) clickstream, page response times, length of visits to certain pages, page interaction information (such as scrolling, clicks, and mouse-overs), and methods used to browse away from the page.</li>

      <li><span class="bolded">Location information</span> – FansWave may collect and process information about your location when you use one of our location-enabled Services. Some of these Services require your personal data for the feature to work. If you wish to use the particular feature, you will be asked to consent to your data being used for such purpose.</li>

      <li><span class="bolded">Device information</span> – FansWave may collect information about the mobile telephone or electronic device ("Device") you use to access the Services, including, where available, the Device's unique identifiers, operating system, browser type and mobile network information as well as the Device's telephone number.</li>

      <li><span class="bolded">Unique Application Numbers</span> – when you install or uninstall the Services containing a unique application number or when such a Services searches for automatic updates, that number and information about your installation, for example, the type of operating system, may be sent to us.</li>

      <li><span class="bolded">User communications</span> – When you contact us or send email or other communications to FansWave, we may retain those communications (or a record of those communications) in order to process your inquiries, respond to your requests and improve our Services.</li>

      <li><span class="bolded">Affiliated websites</span> – We offer some of our Services in connection with other websites. Personal information that you provide to those websites may be sent to FansWave in order to deliver the Services. We process such information in accordance with this Policy. The affiliated websites may have different privacy practices and we encourage you to read their privacy policies.</li>

      <li><span class="bolded">Additional Information</span> – FansWave may ask you to complete surveys that we use for research purposes, although you do not have to respond to them.</li>
</ul>

      <h5>Cookies</h5>
      <p>When you access or use the Services, we send one or more cookies – a small file containing a string of characters – to your computer that uniquely identifies your browser. We use cookies to improve the quality of our services by storing user preferences and tracking user trends. Most browsers are initially set up to accept cookies, but you can reset your browser to refuse all cookies or to indicate when a cookie is being sent. However, some features of the Services may not function properly if your cookies are disabled.</p>

      <h5>How FansWave uses your information:</h5>
      <p>FansWave may use the information collected in one or more of the ways described below:</p>
      <ul>

      <li>(i)	to respond to inquiries, fulfil requests or provide services you have requested;</li>
      <li>(ii)	to provide you with information regarding the Venue Operator in respect of the venue in which you are using the Services (including information relating to their products or services) and/or information regarding the Sponsor (including their products or services);</li>
      <li>(iii)	to notify you about changes to the Services;</li>
      <li>(iv)	to send you information regarding the Service;</li>
      <li>(v)	to allow you to participate in interactive features of the Services, when you choose to do so;</li>
      <li>(vi)	to monitor metrics such as total number of visitors, traffic and demographic;</li>
      <li>(vii)	to resolve problems with, and automatically update, the Services on your Device</li>
      <li>(viii)	to enable the Venue Operator to see how their venue is being used and by whom;</li>
      <li>(ix)	to ensure that content you receive through the Services is presented in the most effective manner for you;</li>
      <li>(x)	to administer the Services for internal operations, including troubleshooting, data analysis, testing, research, statistical and survey purposes;</li>
      <li>(xi)	to measure or understand the effectiveness of advertising we serve to you and others, and to deliver relevant advertising to you;</li>
      <li>(xii)	to provide you with information about recreational goods or services to be provided or sponsored by the Venue Operator or the Sponsor. We cannot use your personal data for such purpose unless we have received your consent to do so;</li>
      <li>(xiii)	to provide information to our selected third parties such as advertisers and data analytics company for consumer analysis and marketing purposes.</li>
    </ul>
      <p>Where we use your data to provide you with information about goods and services as described above, we may contact you through notices on the Services or via any other method of communication as we may adopt from time to time. If you do not want us to use your personal data for such promotional activities, please email us at wifiuser@fanswifi.com</p>

      <h5>Disclosure of your information:</h5>
      <p>FansWave shall only share the information collected in accordance with the terms of this Privacy Policy. FansWave may share your personal data as well as information from tools like cookies, log files, Device identifiers and location data, with the relevant Venue Operator(s) and/or the Sponsor(s) that enable us to provide the Services to youServices. . Our service providers and advertising partners may also be given access to your information as is reasonably necessary to provide the Services under reasonable confidentiality terms. We may remove parts of data that can identify you and share anonymised data with other parties, such as third-party advertising partners. This information would allow third-party advertising networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you.</p>

      <p>FansWave may also disclose your personal information to third parties:</p>
      <ul>
        <li>(i)	if we are under a duty to disclose or share your personal data in order to comply with any legal or regulatory obligation;</li>
        <li>(ii)	in the event of any reorganisation, merger, sale, joint venture, assignment, transfer or other disposition of all or any portion of our business; and / or</li>
        <li>(iii)	to allow us to pursue available remedies or limit the damages that we may sustain.</li>
      </ul>

      <h5>Security</h5>
      <p>Your personal data is held on secure servers hosted by our Internet Services Provider. We take our responsibilities in relation to the security of your personal data very seriously. The nature of the internet is such that we cannot guarantee or warrant the security of any information you transmit to us via the internet. No data transmission over the internet can be guaranteed to be 100% secure. We will take all reasonable steps (including appropriate technical and organisational measures) to protect your personal data and ensure your personal data is not kept longer than is necessary and we will review these measures regularly.</p>

      <h5>Accessing, Updating, Verifying and Deleting Personal Data:</h5>
      <p>You have the right to request access to and correction of personal data held by us about you by contacting our data protection officer at wifiuser@fanswifi.com. Any such access requests may be subject to a reasonable fee which we will reply to you within 40 days.</p>
      <p>To have your personal data rectified (if it is inaccurate) or erased (if we do not have a legitimate reason to hold your personal data) please contact our data protection officer at wifiuser@fanswifi.com. We will comply with a request to rectify or erase your personal data, as the case may be, within 40 days of receiving such a request from you.</p>
      <p>In the case where your personal data is held by the Venue Operator or the Sponsor, you will need to contact them separately in order to request access to, or correction and deletion of, information about you. Their contact information can be found in their respective privacy policies as set out in the link above.</p>

      <h5>Services Privacy Policy</h5>
      <p>Any changes to this Privacy Policy will be posted on the Services and our website so you are always aware of what information we collect, how we use it, and under what circumstance, if any, we disclose it. If at any time we decide to use personal data in a manner significantly different from that stated in this Privacy Policy, or otherwise disclosed to you at the time it was collected, we will notify you by e-mail, and you will have a choice as to whether we use your information in the new manner. This Privacy Policy applies to access to FansWave's websites. We do not exercise control over other third party websites displayed as search results or links from within our Services. These other websites may place their own cookies or other files on your computer, collect data or solicit personal information from you in accordance with their respective privacy policies and we shall have no liability in respect of your access or use of such other websites.</p>
      
      </div>
      <div class="col md-2">

      </div>
    </div>
  </div>
</div><!--Slide-->
