<div id="precontactus" class="flex">
  <div class="container fluid max-width-1400 vert-align-flex">
    <div class="row">
      <div class="col lg-12 spacing vert-align-flex">
        <div class="">
          <i class="fa fa-comment-o fa-5x font-awesome-increase" aria-hidden="true"></i>
          <h3>How can we help you today?</h3>
          <div class="spacing">
            <a class="button-contact" href="contact.html"><h4>General Inquiries</h4></a>
            <a class="button-contact" href="contact-sales.html"><h4>Contact Sales</h4></a>
            <a class="button-contact" href="contact-sales2.html"><h4>Contact Sales 2</h4></a>
          </div>

      </div>



    </div>
  </div>
</div><!--Slide-->
