<div class="slide">
  <h1>The Social Wi-Fi Hotspot Platform</h1>
  <h2>To gather valuable insight for more fans, customers, and business</h2>
</div> <!--Slide-->

<div class="slide">
  <h2>WiFi Login simplified for your customer</h2>
  <div class="container">
    <div class="row">
      <div class="quad-point">
        <p>1. Connect to WiFi Hotspot</p>
        <img src="http://placehold.it/400x700">
        <div class="mockup"></div>
      </div>
      <div class="quad-point">
        <p>2. Login via social media</p>
        <img src="http://placehold.it/400x700">
        <div class="mockup"></div>
      </div>
      <div class="quad-point">
        <p>3. Check in / Follow your page</p>
        <img src="http://placehold.it/400x700">
        <div class="mockup"></div>
      </div>
      <div class="quad-point">
        <p>4. Redirect them to your promotions!</p>
        <img src="http://placehold.it/400x700">
        <div class="mockup"></div>
      </div>
    </div>
  </div>

  <h2>...And Done</h2>
  <p>Your customers now get added into the customer database with actionable dat to understand and connect with your customers. All available in your analytics portal</p>
</div><!--Slide-->

<div class="slide">
  <div class="container">
    <div class="row">
      <div class="dual-point">
        <img src="http://placehold.it/800x600">
      </div>
      <div class="dual-point">
        <h2>Understand your customers</h2>
        <p>With the information from your customer database, you can understand and gain insights about your customers with our easy to use analytics portal. Some data features include:</p>
        <div class="row">
          <div class="horizontal-dual-point">
            <div class="small-icon">
              <img src="http://placehold.it/75x75">
            </div>
            <h4>Demographics</h4>
          </div>
          <div class="horizontal-dual-point">
            <div class="small-icon"><img src="http://placehold.it/75x75"></div>
            <h4>Contact Info</h4>
          </div>
        </div>
        <div class="row">
          <div class="horizontal-dual-point">
            <div class="small-icon"><img src="http://placehold.it/75x75"></div>
            <h4>View Habits</h4>
          </div>
          <div class="horizontal-dual-point">
            <div class="small-icon"><img src="http://placehold.it/75x75"></div>
            <h4>Browsing Patterns</h4>
          </div>
        </div>
      </div><!--Right - Content-->
    </div><!--big-image-->
  </div><!--Container-->
</div><!--Slide-->

<div class="slide">
  <div class="container">
    <div class="row">
      <div class="dual-point">
        <h2>Control your WiFi</h2>
        <p>Our analytics portal contain many powerful features to cater to both you and your customers needs!</p>
        <div class="row">
          <div class="horizontal-dual-point">
            <div class="small-icon"><img src="http://placehold.it/100x100"></div>
            <h4>WiFi Speed and Duration Limit</h4>
          </div>
          <div class="horizontal-dual-point">
            <div class="small-icon"><img src="http://placehold.it/100x100"></div>
            <h4>Multiple Venue Management</h4>
          </div>
        </div>
        <div class="row">
          <div class="horizontal-dual-point">
            <div class="small-icon"><img src="http://placehold.it/100x100"></div>
            <h4>Daily Quotas</h4>
          </div>
          <div class="horizontal-dual-point">
            <div class="small-icon"><img src="http://placehold.it/100x100"></div>
            <h4>Login Redirection</h4>
          </div>
        </div>
      </div><!--dual-point-->
      <div class="dual-point">
        <img src="http://placehold.it/800x600">
      </div>
    </div><!--Row-->
  </div>
</div><!--Slide-->

<div class="slide">
  <h2>Bring them back</h2>
  <p>After knowing all you need to know about your customers. FansWiFi gives you the tools to connect and engage with your customers in order to bring them back.</p>
  <div class="row">
    <div class="tri-point">
      <img src="http://placehold.it/100x100">
      <h4>Targeted Emails and Promotion</h4>
    </div>
    <div class="tri-point">
      <img src="http://placehold.it/100x100">
      <h4>Coupons and Promotions</h4>
    </div>
    <div class="tri-point">
      <img src="http://placehold.it/100x100">
      <h4>Social Media Mentions</h4>
    </div>
  </div>
</div><!--Slide-->

<div class="slide">
  <img src="http://placehold.it/500x350">
  <h2>Fast and simple installation!</h2>
  <p>Once you sign up with us, simply plug in your access point and your WiFi hotspot is ready for your customers. They will be able t quickly sign in and you are one step clower to understanding your customers.</p>
</div><!--Slide-->

<div class="slide">
  <h2>Hardware Compatibility</h2>
  <p>We support a wide range of business grade WiFi access points.</p>
  <p>Here are just a few awesome hardware companies we've had a pleasure to work with:</p>
  <div class="row">
    <div class="quad-point"><img src="http://placehold.it/200x150"></div>
    <div class="quad-point"><img src="http://placehold.it/200x150"></div>
    <div class="quad-point"><img src="http://placehold.it/200x150"></div>
    <div class="quad-point"><img src="http://placehold.it/200x150"></div>
  </div>
  <div class="row">
    <div class="quad-point"><img src="http://placehold.it/200x150"></div>
    <div class="quad-point"><img src="http://placehold.it/200x150"></div>
    <div class="quad-point"><img src="http://placehold.it/200x150"></div>
    <div class="quad-point"><img src="http://placehold.it/200x150"></div>
  </div>
</div><!--Slide-->

<div class="slide">
  <h2>Get FansWiFi Today!</h2>
  <p>Give us a call and we can help you set up FansWiFi today. Have a question? We are always down for a chat!</p>
  <a class="button" href="">Call Us</a>
</div><!--Slide-->
