<section id="product-screen">
  <div class="vert-align-flex center">
    <div class="spacing top-screen-text-down">
      <h1>The Social Wi-Fi Hotspot Platform</h1>
      <h3>To gather valuable insight for more fans, customers, and business</h3>
    </div>
  </div>
</section> <!--Slide-->

<div class="slide">
  <h2>WiFi Login simplified for your customer</h2>
  <div class="container fluid">
    <div class="row">
      <div class="col md-3 col xs-6">
        <div class="steps">
          <p><span class="circle-steps">1</span>. Connect to WiFi Hotspot</p>
        </div>

        <div class="mockup">
          <img src="/img/mockups/wifi1.png">
        </div>
      </div>
      <div class="col md-3 col xs-6">
        <div class="steps">
          <p><span class="circle-steps">2</span>. Login via social media</p>
        </div>

        <div class="mockup">
          <img src="/img/mockups/wifi2.png">
        </div>
      </div>
      <div class="col md-3 col xs-6">
        <div class="steps">
          <p><span class="circle-steps">3</span>. Check in / Follow your page</p>
        </div>

        <div class="mockup">
          <img src="/img/mockups/wifi3.png">
        </div>
      </div>
      <div class="col md-3 col xs-6">
        <div class="steps">
          <p><span class="circle-steps">4</span>. Redirect them to your promotions!</p>
        </div>

        <div class="mockup">
          <img src="/img/mockups/wifi4.png">
        </div>
      </div>
    </div>
  </div>

  <h2>...And Done</h2>
  <p>Your customers now get added into the customer database with actionable dat to understand and connect with your customers.
  <br>All available in your analytics portal</p>
</div><!--Slide-->

<!-- <div class="container fluid">
  <div class="row">
    <div class="col md-4">abc</div>
    <div class="col md-4">abc</div>
    <div class="col md-4">abc</div>
  </div>
 </div> -->
<section id="" class="side-image flex">
  <div class="overflow-images-left">
    <!-- <img src="/img/mockups/understand.png"> -->
  </div>
  <div class="max-width-1400 vert-align-flex">
    <div class="container fluid">
      <div class="row">
        <div class="col md-6">
          <!-- <img src="/img/mockups/understand.png"> -->
        </div><!--col md-6-->
        <div class="col md-6 spacing">
          <h2>Understand your customers</h2>
          <p>With the information from your customer database, you can understand and gain insights about your customers with our easy to use analytics portal. Some data features include:</p>
          <div class="row">
            <div class="col sm-6 flex">
              <div class="col xs-5 small-icon-left">
                  <img src="/img/features/demographic.png">
              </div>
              <div class="col xs-7 vert-align-flex left-content">
                <h4>Demographics</h4>
              </div>
            </div>

            <div class="col sm-6 flex">
              <div class="col xs-5 small-icon-left">
                  <img src="/img/features/contact.png">
              </div>
              <div class="col xs-7 vert-align-flex left-content">
                <h4>Contact Info</h4>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col sm-6 flex">
              <div class="col xs-5 small-icon-left">
                  <img src="/img/features/history.png">
              </div>
              <div class="col xs-7 vert-align-flex left-content">
                <h4>View Habits</h4>
              </div>
            </div>

            <div class="col sm-6 flex">
              <div class="col xs-5 small-icon-left">
                  <img src="/img/features/habit.png">
              </div>
              <div class="col xs-7 vert-align-flex left-content">
                <h4>Browsing Patterns</h4>
              </div>
            </div>
          </div>
        </div><!--col md-6-->
      </div><!--big-image-->
    </div><!--Container-->
  </div><!--Slide-->
</section><!--Section-->

<section id="" class="side-image flex">

  <div class="max-width-1400 vert-align-flex">
    <div class="container fluid">
      <div class="row">

        <div class="col md-6 spacing">
          <h2>Control your WiFi</h2>
          <p>Our analytics portal contain many powerful features to cater to both you and your customers needs!</p>
          <div class="row">
            <div class="col sm-6 flex">
              <div class="col xs-5 small-icon-left">
                  <img src="/img/features/wifilimit.png">
              </div>
              <div class="col xs-7 vert-align-flex left-content">
                <h4>WiFi Speed and Duration Limit</h4>
              </div>
            </div>

            <div class="col sm-6 flex">
              <div class="col xs-5 small-icon-left">
                  <img src="/img/features/venue.png">
              </div>
              <div class="col xs-7 vert-align-flex left-content">
                <h4>Multiple Venue Management</h4>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col sm-6 flex">
              <div class="col xs-5 small-icon-left">
                  <img src="/img/features/quota.png">
              </div>
              <div class="col xs-7 vert-align-flex left-content">
                <h4>Daily Quotas</h4>
              </div>
            </div>

            <div class="col sm-6 flex">
              <div class="col xs-5 small-icon-left">
                  <img src="/img/features/redirect.png">
              </div>
              <div class="col xs-7 vert-align-flex left-content">
                <h4>Login Redirection</h4>
              </div>
            </div>
          </div>
        </div><!--col md-6-->
        <div class="col md-6">
          <!-- <img src="/img/mockups/understand.png"> -->
        </div><!--col md-6-->
      </div><!--big-image-->
    </div><!--Container-->
  </div><!--max width and vertical align-->

  <div class="overflow-images-right spacing">
    <!-- <img src="/img/mockups/understand.png"> -->
  </div>
</section><!--Section-->


<div class="slide">
  <h2>Bring them back</h2>
  <p>After knowing all you need to know about your customers. FansWiFi gives you the tools to connect and engage with your customers in order to bring them back.</p>
  <div class="container fluid">
    <div class="row">
        <div class="col sm-4 spacing">
          <img src="/img/mockups/mockup.png">
          <h4>Targeted Emails and Promotion</h4>
        </div>
        <div class="col sm-4 spacing">
          <img src="/img/mockups/mockup.png">
          <h4>Coupons and Promotions</h4>
        </div>
        <div class="col sm-4 spacing">
          <img src="/img/mockups/mockup.png">
          <h4>Social Media Mentions</h4>
        </div>
    </div><!--row-->
  </div><!--container-->
</div><!--Slide-->

<div class="slide">
  <div class="container fluid">
    <div class="row">
      <div class="col md-6 spacing">
        <img src="/img/router.png">
      </div>
      <div class="col md-6 spacing">
        <div class="left-content spacing">
          <h2>Fast and simple installation!</h2>
          <p>Once you sign up with us, simply plug in your access point and your WiFi hotspot is ready for your customers. They will be able t quickly sign in and you are one step clower to understanding your customers.</p>
          <p><span class="circle-steps">1</span>. Connect to WiFi Hotspot Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor liquit. Du t nulla pariatccaec</p>
          <p><span class="circle-steps">2</span>. Connect to WiFi Hotspot sed do eiusmod tempor liquit. Du t nulla</p>
          <p><span class="circle-steps">3</span>. Connect to WiFi Hotspot</p>
        </div>
      </div>
    </div>
  </div>
</div><!--Slide-->
<section id="hardware">
  <div class="slide">
    <h2>Hardware Compatibility</h2>
    <p>We support a wide range of business grade WiFi access points.</p>
    <p>Here are just a few awesome hardware companies we've had a pleasure to work with:</p>
    <div class="container fluid spacing">
      <div class="row row-wrapper">
        <div class="col sm-3 col xs-6 spacing hardware-wrapper"><img src="/img/hardware/aerohive.png"></div>
        <div class="col sm-3 col xs-6 spacing hardware-wrapper"><img src="/img/hardware/altai.png"></div>
        <div class="col sm-3 col xs-6 spacing hardware-wrapper"><img src="/img/hardware/aruba.png"></div>
        <div class="col sm-3 col xs-6 spacing"><img src="/img/hardware/meraki.png"></div>
      </div>
      <div class="row">
        <div class="col sm-3 col xs-6 spacing hardware-wrapper"><img src="/img/hardware/microtik.png"></div>
        <div class="col sm-3 col xs-6 spacing hardware-wrapper"><img src="/img/hardware/openmesh.png"></div>
        <div class="col sm-3 col xs-6 spacing hardware-wrapper"><img src="/img/hardware/openwrt.png"></div>
        <div class="col sm-3 col xs-6 spacing"><img src="/img/hardware/ruckus.png"></div>
      </div>
    </div>
  </div><!--Slide-->
</section>

<section id="buy">
  <div class="slide">
    <h2>Get FansWiFi Today!</h2>
    <h4>Give us a call and we can help you set up FansWiFi today. Have a question? We are always down for a chat!</h4>
    <a href="/partner.html">
      <div class="button">
        <h3>Call Us</h3>
      </div>
    </a>
  </div><!--Slide-->
</section>
