<section class="top-screen">
  <div class="vert-align-flex center">
    <div class="spacing">
      <h1>Success Stories with FansWiFi</h1>
      <!-- <h3>To gather valuable insight for more fans, customers, and business</h3> -->
    </div>
  </div>
</section> <!--Slide-->

<div class="slide">
  <h2>Companies</h2>
  <div class="container fluid">
    <div class="row">
      <div class="col md-4 col sm-6 spacing">
        <div class="company-container">
          <a href=""><img src="/img/clients/blt.png"></a>
        </div>
      </div>
      <div class="col md-4 col sm-6 spacing">
        <div class="company-container">
          <a href=""><img src="/img/clients/gateway.png"></a>
        </div>
      </div>
      <div class="col md-4 col sm-6 spacing">
        <div class="company-container">
          <a href=""><img src="/img/clients/winglung.png"></a>
        </div>
      </div>

      <div class="col md-4 col sm-6 spacing">
        <div class="company-container">
          <a href=""><img src="/img/clients/perfectmedical.png"></a>
        </div>
      </div>

      <div class="col md-4 col sm-6 spacing">
        <div class="company-container">
          <a href=""><img src="/img/clients/emma.png"></a>
        </div>
      </div>

      <div class="col md-4 col sm-6 spacing">
        <div class="company-container">
          <a href=""><img src="/img/clients/diningconcepts.png"></a>
        </div>
      </div>
    </div>
  </div>
</div><!--Slide-->
