<section class="top-screen">
  <div class="vert-align-flex center">

    <div class="spacing">
      <img src="/img/clients/vert_blt.png">
    </div>
    <div class="spacing">
      <h1>BLT Burger Success Story</h1>
      <!-- <h3>To gather valuable insight for more fans, customers, and business</h3> -->
    </div>
  </div>
</section> <!--Slide-->

<section class="success">
  <div class="slide">
    <div class="container fluid">
      <div class="row">
        <div class="col md-4 spacing">
          <h4>Results</h4>

          <ul>
            <li><i class="fa fa-star result-icon" aria-hidden="true"></i><p class="result">61% increase in users connecting to guest WiFi</p></li>
            <li><i class="fa fa-star result-icon" aria-hidden="true"></i><p class="result">47% of all visitors used social media to log in</p></li>
            <li><i class="fa fa-star result-icon" aria-hidden="true"></i><p class="result">62% of users logged in whilst drinking and dining at Bar Varia</p></li>
            <li><i class="fa fa-star result-icon" aria-hidden="true"></i><p class="result">Increase Followers by 10,000 in just over a year!</p></li>
          </ul>

          <h4>Objectives</h4>
          <ul>
            <li><i class="fa fa-flag result-icon" aria-hidden="true"></i><p class="result">To prevent the world from devastation. Team rocket blasting off in the speed of light! what in the world.</p></li>
            <li><i class="fa fa-flag result-icon" aria-hidden="true"></i><p class="result">To unite the evil in our nation, surrender now or prepare to fight Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></li>
            <li><i class="fa fa-flag result-icon" aria-hidden="true"></i><p class="result">To protect our wishes from truth and love. Lorem ipsum dolor sit amet consectur adipisicit elid set.</p></li>
            <li><i class="fa fa-flag result-icon" aria-hidden="true"></i><p class="result">To protect our nation from the stars above. What in the world, what in the world what in the world.</p></li>
          </ul>

        </div>
        <div class="col md-1">
        </div>

        <div class="col md-7 spacing">
          <h4>Summary</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. lorem</p>


          <h4>Challenges</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>

          <h4>Closing Remarks</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
  </div><!--Slide-->
</div>
