<section class="top-screen">
  <div class="vert-align-flex center">
    <div class="spacing">
      <h1>Terms of Use</h1>
    </div>
  </div>
</section> <!--Slide-->

<div class="slide">
  <h2>PLEASE READ THIS CAREFULLY BEFORE CONTINUING</h2>
  <div class="container fluid">
    <div class="row left-content">
      <div class="col md-2">

      </div>
      <div class="col md-8">

        <h5>1. General</h5>
        <p>By registering to access, using and/or attempting to access or use the wireless and/or wired internet service via a FansWave's platform and related services (the “Service”), you agree to be bound by the following terms of use (the “Terms of Use”). If you do not agree to all of the terms of these Terms of Use you should not register to access, use or attempt to access or use the Service.</p>

        <p>For the avoidance of doubt, the telecommunications networks and/or broadband connections to which FansWave's platform is connected are provided by an internet service provider independent from FansWave.</p>

        <h5>2. Information about us</h5>
        <p>We are FansWave Ltd. (“FansWave” or “we”, and the terms “us” and “our” shall be construed accordingly), a limited liability company registered in Hong Kong with registered number 60255489 and having our registered office at 3/F, Citicorp Centre, 18 Whitfield Road, Tin Hau, Hong Kong.</p>

        <h5>3. Changes of terms</h5>
        <p>We may amend these Terms of Use from time to time at our sole discretion without liability or notice to you. By continuing to use the Service following such amendments to these Terms of Use, you agree to be bound by such amendments.</p>

        <h5>4. Proprietary rights and licence</h5>
        <ul>
        <li>4.1. All trade marks, copyright, database rights, and other intellectual property rights of any nature and in any part of the world in the Service together with the underlying software code are owned directly either by us or by our licensor(s).</li>
        <li>4.2. We hereby grant to you a worldwide, non-exclusive, royalty-free and revocable licence to use the Service for your business and personal use in accordance with these Terms of Use.</li>
        </ul>

        <h5>5. Conditions of use</h5>
        <ul>
        <li>5.1. You will not, nor will you allow third parties on your behalf to:</li>
          <ul>
            <li>a. make and distribute copies of the Service;</li>
            <li>b. attempt to copy, reproduce, alter, modify, adapt, reverse engineer, disassemble, decompile, transfer, exchange, or translate the Service; or</li>
            <li>c. create derivative works of the Service of any kind whatsoever.</li>
          </ul>
        <li>5.2. You must not use the Service to access internet services, or to send or receive e-mails or other electronic communications, which:</li>
        <ul>
          <li>a. are defamatory, threatening or which could be classed as harassment;</li>
          <li>b. contain obscene, profane or abusive language or material;</li>
          <li>c. contain pornographic material (that is text, pictures, images, films, sound or video clips of a sexually explicit or arousing nature);</li>
          <li>d. contain offensive or derogatory material including those regarding sex, race, religion, colour, origin, age, physical or mental disability, medical condition and/or sexual orientation;</li>
          <li>e. contain material which infringe any third party’s rights (including intellectual property rights);</li>
          <li>f. in our reasonable opinion may adversely affect the manner in which we carry out our business; or</li>
          <li>g. are otherwise unlawful, improper, inappropriate or immoral.</li>
        </ul>
        <li>5.3. Music, video, pictures, text and other content on the internet are copyrighted works and you should not download, alter, e-mail or otherwise use such content unless you are certain that the owner of such works has authorized its use by you.</li>
        <li>5.4. By using the Service, you acknowledge and agree that internet transmissions are never completely private or secure. You understand that any message or information you send using the Service may be read or intercepted by others, even if there is a special notice that a particular transmission is encrypted. We recommend that you do not use the Service to transmit or receive any confidential information or data and should you choose to do so, you do so at your own risk.</li>
        <li>5.5. We have no responsibility for, or control over, the internet services you access and we do not guarantee that any services are free from error, bugs or virus.</li>
        <li>5.6. You must not misuse the Service by knowingly introducing viruses, trojans, worms, logic bombs or other material which is malicious or technologically harmful. You must not attempt to gain unauthorized access to the Service or the server on which the Service is based nor any server, computer or database connected to the Service.</li>
        <li>5.7. We have no responsibility for, or control over, the information you transmit or receive via the Service.</li>
        <li>5.8. You will be assumed to have obtained permission from the owners of any devices that are controlled, but not owned, by you to use the Service (together with devices owned by you to use the Service) (the “Devices”). You and such third party owners may be charged by your and their service providers for internet access on the Devices. You accept responsibility in accordance with the terms of these Terms of Use for the use of the Service on or in relation to any Devices, whether or not it is owned by you.</li>
        <li>5.9. By using the Service, you consent to us collecting and using technical information about the Devices and related software, hardware and peripherals for services that are internet-based or wireless to improve our products and services and to provide the Service to you.</li>
        <li>5.10. The Service will make use of location data sent from the Devices. If you use the Service, you consent to us and our affiliates' and licensees' transmission, collection, maintenance, processing and use of your location data and queries to provide and improve location-based products and services as further explained in our Privacy Policy.</li>
        <li>5.11. The Service may contain links to other independent third-party websites (“Third-party Sites”). Third-party Sites are not under our control, and we are not responsible for, and do not endorse, their content or their privacy policies (if any). You will need to make your own independent judgment regarding your interaction with any Third-party Sites, including the purchase and use of any products or services accessible through them.</li>
        </ul>

        <h5>6. Personal data</h5>
        <ul>
          <li>6.1. Any personal data you supply to us when using the Service will be processed in accordance with the Privacy Policy ("Privacy Policy") available at https://connect-p.fanswifi.com/privacypolicyhk which is incorporated into these Terms of Use by reference and apply to the Service. The terms of the Privacy Policy may change from time to time and your continued use of the Service means you accept the Privacy Policy as may be changed from time to time.</li>
        </ul>

        <h5>7. Use of the Service</h5>
        <ul>
        <li>7.1. You must not use the Service to engage in any activity which constitutes or is capable of constituting a criminal offence, either in Hong Kong or in any country throughout the world.</li>
        <li>7.2. You agree and acknowledge that we may keep a log of the Internet Protocol (“IP”) addresses and Mac Addresses of any Devices which access the Service, the times when they have accessed the Service and the activity associated with that IP address.</li>
        <li>7.3. You further agree that we are entitled to co-operate with law enforcement authorities, governmental agencies, other authorities and rights-holders in the investigation of any suspected or alleged illegal activity by you which may include, but is not limited to, disclosure of such information that we have and are entitled to provide by law to such law enforcement authorities, governmental agencies, other authorities and/or rights-holders.</li>
        </ul>

        <h5>8. Availability of the Service</h5>
        <ul>
        <li>8.1. The Service is provided “as is” and on an “as available” basis. We give no warranty that the Service will be free of defects and/or faults. To the maximum extent permitted by law, we provide no warranties (express or implied) of fitness for a particular purpose, accuracy of information, compatibility or satisfactory quality.</li>
        <li>8.2. We do not guarantee that the Service, or any content in it, will always be available or be uninterrupted. Availability of the Service is permitted on a temporary basis. We may suspend, withdraw, discontinue or change all or any part of the Service without notice. We will not be liable to you if for any reason the Service is unavailable at any time or for any period.</li>
        <li>8.3. We reserve the right at all times to withdraw the Service, change the specifications or manner of use of the Service, to change access codes, usernames, passwords or other security information necessary to access the Service.</li>
        <li>8.4. We accept no liability for any disruption or non-availability of the Service resulting from external causes including, but not limited to, ISP equipment failure, host equipment failure, communications network failure, power failure, natural events, acts of war or legal restrictions and censorship.</li>
        </ul>

        <h5>9. Limitation of liability</h5>
        <ul>
        <li>9.1 In no event will we be liable for any direct, indirect, special, punitive, exemplary, or consequential losses or damages of whatsoever kind arising out of your use of or access to the Service, including but not limited to loss of profit or the like whether or not in the contemplation of the parties or whether based on breach of contract, tort (including negligence), product liability, or otherwise.</li>
        <li>9.2. To the extent permitted by law, we exclude all conditions, warranties, representations or other terms which may apply to the Service, whether express or implied.</li>
        <li>9.3. We are not liable to you for any damage or alteration to any Devices and other equipment, including but not limited to computer equipment, handheld devices or mobile telephones as a result of the installation or use of the Service.</li>
        <li>9.4. We will not be liable for any loss or damage caused by a virus, distributed denial-of-service attack, or other technologically harmful material that may infect the Devices and any programs, data or proprietary material contained in such Devices due to your use of the Service.</li>
        <li>9.5. Nothing in these Terms of Use shall exclude or limit our liability for death or personal injury caused by negligence or for fraud or fraudulent misrepresentation or any other liability which cannot be excluded or limited under the applicable law.</li>
        </ul>

        <h5>10. Termination</h5>
        <ul>
        <li>10.1. Without prior notice, we may suspend or terminate these Terms of Use or your access to all or part of the Service at any time for any reason, including, but not limited to, if we reasonably believe:</li>
          <ul>
            <li>(i) you have violated these Terms of Service; </li>
            <li>(ii) you create risk or possible legal exposure for us; or </li>
            <li>(iii) our provision of the Service to you is no longer commercially viable.</li>
          </ul>
        </ul>

        <h5>11. Events Outside Our Control</h5>
        <ul>
          <li>11.1. We will not be liable or responsible for any failure to perform, or delay in performance of, any of our obligations under these Terms of Use that is caused by any act or event beyond our reasonable control, including but not limited to failure of public or private telecommunications networks or broadband connections or interruptions of any third party services (“Event Outside Our Control”).</li>
          <li>11.2. If an Event Outside Our Control takes place that affects the performance of our obligations under these Terms of Use:</li>
            <ul>
              <li>a. our obligations under these Terms of Use will be suspended and the time for performance of our obligations will be extended for the duration of the Event Outside Our Control; and</li>
              <li>b. we will use our reasonable endeavors to find a solution by which our obligations under these Terms of Use may be performed despite the Event Outside Our Control.</li>
            </ul>
        </ul>

        <h5>12. Other important terms</h5>
        <ul>
        <li>12.1. We may transfer our rights and obligations under these Terms of Use to another organization, but this will not affect your rights under these Terms of Use.</li>
        <li>12.2. You may only transfer your rights or obligations under these Terms of Use to another person if we agree in writing.</li>
        <li>12.3. If we fail to insist that you perform any of your obligations under these Terms of Use, or if we do not enforce our rights against you, or if we delay in doing so, that will not mean that we have waived our rights against you and will not mean that you do not have to comply with those obligations. If we do waive a default by you, we will only do so in writing, and that will not mean that we will automatically waive any later default by you.</li>
        <li>12.4. Each of the conditions of these Terms of Use operates separately. If any court or competent authority decides that any of them are unlawful or unenforceable, the remaining conditions will remain in full force and effect.</li>
        </ul>

        <h5>13. Governing Law and Jurisdiction</h5>
        <p>These Terms of Use shall be governed by the laws of the Hong Kong Special Administrative Region. You agree to submit to the exclusive jurisdiction of the Hong Kong courts.</p>

        <p>For any query, please contact FansWave Ltd. at 3/F, Citicorp Centre, 18 Whitfield Road, Tin Hau, Hong Kong or email wifiuser@fanswifi.com.</p>
      </div>
      <div class="col md-2">

      </div>
    </div>
  </div>
</div><!--Slide-->
